[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = git@github.com:puppetlabs/puppetlabs-git.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = git@github.com:madebydavid/puppet-composer.git
